.main {
    background-color: #457b9d;  
}

.introRow {
    display: flex;
    flex-wrap: wrap;
}

.introTitle {
    font-size: 2.5rem;
}

.introImage {
    min-height: 100px;
    max-height: 250px;
}

.cardContainer {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;   
}

.card {
    width: 260px;
    height: 220px;
    border-color: #457b9d;
    padding: 10px;
    margin: 10px;
}

.cardColoumn {
    width: 400px;
    padding: 10px;
}

.middleCard {
    background-color: #457b9d;
}



/* responsive css */

@media (max-width: 856px) {
    .cardContainer {
        flex-direction: column;
    }

    .card {
        min-width: 70vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 600px) {
    .introImage {
        height: 180px;
    }
}

@media (max-width: 420px) {
    .introImage {
        height: 125px;
    }

    .introTitle {
        text-align: center;
        font-size: 2rem;
    }
}